@import "tailwindcss";

:root {
  --background  : #ffffff; /*white*/
  --foreground  : #171717; /*black*/
  --secondaly-bg: #f3f4f6; /*gray-100*/
  --secondaly-fg: #6a7282; /*gray-500*/
  --hover-bg    : #e5e7eb; /*gray-200*/
  --info-bg     : #cbfbf1; /*teal-100*/
  --divider-bg  : #6a7282; /*gray-500*/
}

@media (prefers-color-scheme: dark) { /*ここでダークモード時の背景色、文字色を設定*/
  :root {
    --background  : #101828; /*gray-900*/
    --foreground  : #f9fafb; /*gray-50*/
    --secondaly-bg: #4a5565; /*gray-600*/
    --secondaly-fg: #e5e7eb; /*gray-200*/
    --hover-bg    : #6a7282; /*gray-500*/
    --info-bg     : #00bba7; /*teal-500*/
    --divider-bg  : #e5e7eb; /*gray-200*/
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
  background: var(--background);
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: var(--hover-bg);
  border-radius: 4px;
}
@media (prefers-color-scheme: dark) {
  .custom-scrollbar::-webkit-scrollbar {
    background: var(--background);
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: var(--hover-bg);
  }
}

.hover-bg:hover {
  background: var(--hover-bg)
}

.secondaly-bg {
  background: var(--secondaly-bg)
}

.secondaly-fg {
  color: var(--secondaly-fg)
}

.info-bg {
  background: var(--info-bg)
}
/*
button:hover {
  background: var(--hover-bg)
}
*/

.hover-none:hover {
  background: var(--background)
}


.sidebar-bg {
  background: var(--background)
}
.sidebar-bg::-webkit-scrollbar {
  width: 8px;
  background: var(--background);
}
.sidebar-bg::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 4px;
}
.sidebar-bg:hover::-webkit-scrollbar-thumb {
  background: var(--hover-bg);
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.animate-blink {
  animation: blink 0.5s linear infinite;
}
.tooltip-custom-bg {
  background-color: #374151; /* ダークグレー */
  color: #f9fafb; /* 明るい灰色 */
}

@media (prefers-color-scheme: dark) {
  .tooltip-custom-bg {
    background-color: #d1d5db; /* 明るい灰色 */
    color: #111827;      /* ダークグレー */
  }
}

.divider-bg {
  background: var(--divider-bg);
}


/*ボタンごとにCSSを作りたい(@apply？) ⇒ 非推奨*/